.nav{
  background: grey;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;  
}
ul{
  margin: 0;
  padding: 0px;
}
li{
  display: inline-block;
  padding-right: 80px;
  margin-top: 20px;
  
}
a{
  text-decoration: none;
}
